.card{
    /* border: none; */
}

.card-body{
    padding: 0;
}

.card-img-top{
    height: 285px;
}

.customDescription{
    height: 70px;
    width: 100%;
    white-space: normal;
    font-size: 12px;
}