.card{
    /* border: none; */
}

.card-body{
    padding: 10px;
    background: black;
    color: white;
}

.card-title{
    font-size: 2.25rem;
    text-align: center;
}

.card-img-top{
    height: 285px;
}

.customDescription{
    height: 70px;
    width: 100%;
    white-space: normal;
    font-size: 12px;
}